.Sec2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 1rem;
  .Sec2-Left {
    width: 40%;
    img {
      width: 100%;
    }
  }
  .Sec2-Right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      color: gray;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      p {
        color: white;
        span {
          color: #ecc2bc;
        }
      }
    }
    a {
      h1 {
        font-size: 1rem;
        color: #ecc2bc;
        border: 1px solid #ecc2bc;
        padding: 1rem 1.5rem;
        border-radius: 5px;
      }
      &:hover {
        h1 {
          font-size: 1rem;
          color: black;
          border: 1px solid #ecc2bc;
          background-color: #ecc2bc;
          border-radius: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .Sec2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .Sec2-Left {
      width: 100%;
    }
    .Sec2-Right {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      div {
        flex-direction: column;
      }
    }
  }
}
