* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #111111;
  color: white;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  transition: 300ms;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}
